.ver{ 
    background-color:rgb(0,255,0);     /* verde */
}

.lar{        
    background-color:rgb(255,153,0);   /* laranja */
}

.rox{
    background-color:rgb(153,0,255);      /* roxo */
}

.verm{     
    background-color:rgb(255,0,0);         /* vermelho */
}

.azl{
    background-color:rgb(0,0,255);  /* azul */   
}

.amar{
    background-color:rgb(255,255,0);     /* amarelo */
}

.roz{
    background-color:rgb(215,0,215);      /* roza */  
}